<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rohanpc.projectsunshine1" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detailactivity"
            android:label="@string/title_activity_detailactivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rohanpc.projectsunshine1.MainActivity" />
        </activity>
        <activity
            android:name=".Settingsactivity"
            android:label="@string/title_activity_settingsactivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rohanpc.projectsunshine1.MainActivity" />
        </activity>
        <provider
            android:authorities="com.example.rohanpc.projectsunshine1"
            android:name="com.example.rohanpc.projectsunshine1.WeatherProvider" />
    </application>

</manifest>
